#momentos,
#cta,
#bolitas,
#beneficios,
#parrafos,
#video,
#testimonios,
#cta2,
#qoute,
footer {
    display: none!important;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

@media only screen and (min-width: 48em) {
    header div:nth-child(2) {
        order: -1;
    }
}