@import "variab";
@import "mixins";
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700');
@lila: #9d9cd8;
@light: 300;
@regular: 400;
@laptop: ~"only screen and (min-width: 62em)";
@tablet: ~"only screen and (min-width: 48em)";
@bold: 700;
@gris: #494552;
@crimson: #BB1645;
.lato(@weight: @regular,
@color: @gris) {
    font-family: 'Lato', sans-serif;
    font-weight: @weight;
    color: @gris;
}

.underline_green(@padding-bottom: 32px,
@margin-bottom: 60px) {
    padding-bottom: @padding-bottom;
    content: "";
    display: block;
    width: 80%;
    margin: 0 auto @margin-bottom;
    border-bottom: 2px solid #3DC6B8;
}

html {
    .lato();
    font-size: 16px;
}

body {
    margin: 0;
}

button {
    .font-size(20);
    color: white;
    padding: 20px 25px;
    background-color: @crimson;
    text-align: center;
    border: 0;
    text-transform: uppercase;
    margin: 30px auto;
    .transition();
    &:hover {
        background-color: lighten(@crimson, 10%);
    }
    &:active {
        background-color: darken(@crimson, 10%);
    }
}

.row {
    margin-right: 0;
    margin-left: 0;
}

@media @tablet {
    header div:nth-child(2) {
        order: -1;
    }
}

#momentos {
    display: none;
    .col-xs-12 {
        padding: 0;
    }
    @media @tablet {
        padding: 0 2em;
        display: flex;
        .col-sm-6 {
            padding: 0 4px;
        }
        .col-md-4 {
            padding-left: 4px;
        }
    }
}

#momento1,
#momento2,
#momento3,
#momento4,
#momento5 {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: auto;
    color: white;
    margin-bottom: 8px;
    overflow: hidden;
    &::before {
        content: "";
        background: black;
        background-blend-mode: multiply;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3;
        .opacity(.3);
    }
    .bkgcolor {
        background-color: @lila;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .bkgimagen {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        object-fit: cover;
    }
    h2 {
        margin-top: 2em;
        margin-bottom: .2em;
        text-align: center;
        width: 100%;
        z-index: 3;
        position: relative;
        text-transform: uppercase;
        .font-size(18);
    }
    section {
        background-color: rgba(0, 0, 0, .5);
        width: 83%;
        padding: 3px;
        z-index: 3;
        position: relative;
        max-width: 300px;
        @media @laptop {
            width: 92%;
        }
        img {
            width: 34px;
            display: inline-block;
            border-radius: 50%;
            margin: .5em .5em .5em 2em;
        }
        div {
            display: inline-block;
            width: 70%;
            vertical-align: top;
            h3 {
                display: block;
                text-transform: uppercase;
                .font-size(14);
                font-style: italic;
                font-weight: 400;
                margin: 0;
                vertical-align: top;
            }
            p {
                display: block;
                .font-size(11);
                font-style: italic;
                font-weight: 400;
                margin: 0;
                vertical-align: top;
            }
        }
        .indicador,
        .indicador2 {
            position: absolute;
            z-index: 55;
            width: 160px;
            margin: 0;
            border-radius: 0;
            left: 4em;
            bottom: -40px;
        }
    }
}

#momento1 {
    .bkgimagen {
        top: -140px;
        height: auto;
        width: 768px;
    }
}

#momento2 {
    section .indicador {
        width: 83px;
        left: 53px;
        bottom: -30px;
    }
    .bkgimagen {
        top: -140px;
        height: auto;
        width: 768px;
    }
}

#momento3 {
    section .indicador {
        width: 65px;
        left: 235px;
        bottom: -15px;
    }
    .bkgimagen {
        top: -40px;
        height: auto;
        width: 768px;
    }
}

#momento4 {
    section .indicador {
        width: 11px;
        left: 195px;
        bottom: -50px;
    }
    .bkgimagen {
        top: -245px;
        height: auto;
        width: 768px;
    }
}

#momento5 {
    section {
        .indicador2 {
            display: none;
            @media @laptop {
                display: block;
                width: 136px;
                left: 50px;
                bottom: -180px;
            }
        }
        .indicador {
            width: 83px;
            left: 230px;
            bottom: -30px;
            @media @laptop {
                display: none;
            }
        }
    }
    .bkgimagen {
        top: -320px;
        height: auto;
        width: 1205px;
        left: -290px;
        @media @laptop {
            top: -169px;
            left: -425px;
        }
    }
    @media @laptop {
        height: 408px;
    }
}

#bolitas {
    overflow: hidden;
    .box {
        position: relative;
        width: 300px;
        height: 70px;
        margin: 30px auto;
    }
    .bolita1,
    .bolita2,
    .bolita3,
    .bolita4,
    .bolita5 {
        position: absolute;
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
    .bolita1 {
        .gradient-horizontal(#a892da,
        #96a4d5);
        top: 24px;
    }
    .bolita2 {
        .gradient-horizontal(#99a0d5,
        #8ab2cf);
        top: 4px;
        left: 68px;
    }
    .bolita3 {
        .gradient-horizontal(#6bc7c5,
        #66b0c3);
        top: 34px;
        left: 132px;
    }
    .bolita4 {
        .gradient-horizontal(#605aad,
        #7459a3);
        top: 14px;
        left: 202px;
    }
    .bolita5 {
        .gradient-horizontal(#aa5683,
        #c85473);
        top: 0;
        right: 0;
    }
}

#qoute {
    .font-size(24);
    font-weight: @light;
    p {
        &::after {
            .underline_green();
        }
    }
}

#beneficios {
    .font-size(21);
    text-transform: uppercase;
    text-align: center;
    font-weight: @bold;
    img {
        margin-bottom: 30px;
        width: 100%;
        max-width: 105px;
    }
    p.box {
        margin: 0 auto 30px;
    }
}

#parrafos,
#programas {
    .font-size(22);
    text-align: left;
    .col-xs-12:first-child {
        &::after {
            .underline_green(20px,
            20px);
            @media @tablet {
                display: none;
            }
        }
        @media @tablet {
            border-right: 2px solid #3DC6B8;
        }
    }
}

#programas {
    margin: 2rem 0 3rem;
    img {
        width: 32px;
        margin-right: 12px;
    }
}

#testimonios {
    h2 {
        .font-size(32);
        text-align: center;
        color: #8f71d1;
        font-weight: @light;
        font-style: italic;
        line-height: 1.5em;
    }
    img {
        width: 77px;
        border-radius: 50%;
        margin-top: 1em;
    }
    h3 {
        text-transform: uppercase;
        margin: 0.4em 0;
    }
    p {
        font-style: italic;
        margin-top: 0;
    }
}

#cta2 {
    margin-top: 2em;
    @media @tablet {
        background-color: #e6e6e6;
        padding: 22px 0;
    }
    img {
        display: none;
        @media @tablet {
            display: block;
        }
    }
    p {
        color: #8f71d1;
        text-transform: uppercase;
        .font-size(20);
    }
    button {
        @media @tablet {
            margin: 0 auto;
            .font-size(16);
        }
    }
}

footer {
    background: #2e194a;
    padding: 23px 0;
    margin-bottom: -20px;
    p {
        color: white;
        text-align: center;
        .font-size(14);
    }
    .sm {
        @media @tablet {
            width: 32px;
        }
        @media @desktop {
            width: 44px;
        }
    }
    .logo {
        width: 100%;
        .opacity();
        max-width: 125px;
        &[alt="Momentos en línea"] {
            width: 80%;
        }
        @media @tablet {
            max-width: 155px;
            &[alt="Momentos en línea"] {
                width: 75%;
            }
        }
        @media @desktop {
            max-width: 180px;
            &[alt="Momentos en línea"] {
                width: 50%;
            }
        }
    }
}

//Modal
// Close Button
.close {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 30px;
    background: @crimson;
    color: white;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
}

// The mask
.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(230, 230, 230, 0.85);
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;
}

// Modal
.modal {
    position: fixed;
    top: 48%;
    left: 67%;
    width: 90%;
    max-width: 400px;
    margin-left: -200px;
    margin-top: -220px;
    background: white;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-out;
    transform: translateY(45px);
    @media @tablet {
        top: 40%;
        left: 50%;
    }
}

// Class Active
.active {
    visibility: visible;
    opacity: 1;
}

// When active class is added, that affects the modal class
.active + .modal {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

// Modal2
#video {
    position: fixed;
    top: 55%;
    left: 55%;
    width: 90%;
    max-width: 400px;
    margin-left: -200px;
    margin-top: -220px;
    background: white;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-out;
    transform: translateY(45px);
    @media @tablet {
        top: 40%;
        left:30%;
        max-width: 800px;
    }
    @media @laptop {
        left:35%;
    }
    @media @bigScreen {
        max-width: 900px;
    }
    iframe {
        width: 100%;
        height: 22vh;
        @media @tablet {
            height: 50vh;
        }
        @media @laptop {
            height: 55vh;
        }
    }
}

// Class Active
.activo {
    visibility: visible;
    opacity: 1;
}

// When active class is added, that affects the modal class
.activo + #video {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

form {
    fieldset {
        border: 0;
    }
    input,
    select {
        width: 90%;
        margin: .5em auto;
        display: block;
        background: white;
        border: 1px solid #b3b3b3;
        padding: 6px;
        color: #b3b3b3;
        height: 1.6em;
        .font-size(21);
    }
    input:focus {
        color: black;
    }
    input#nombre-3 {
        margin-top: 2em;
        margin-bottom: .5em!important;
    }
    select {
        width: 94%;
        height: 2.1em;
    }
    button {
        margin: 1em auto;
        .font-size(16);
        padding: 15px;
    }
}

#gracias {
    background: url(../images/imagen-gracias-momentos.jpg);
    background-size: cover;
    padding: 110px 1em;
    h2,
    h3 {
        text-align: center;
        color: white;
    }
    h2 {
        text-transform: uppercase;
        .font-size(32);
        font-weight: @regular;
        &::after {
            .underline_green();
            border-bottom: 2px solid white;
            max-width: 640px;
        }
    }
    h3 {
        .font-size(32);
        font-weight: @light;
    }
}

//-------------------------------------------
.slider {
    width: 600px;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    position: relative;
    background: #eee;
    @media @tablet {
        display: none;
    }
}

.slider__inner {
    position: relative;
    margin: 0 auto;
    padding-top: 50%;
    overflow: hidden;
    background: #ddd;
}

.slider__slides {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 500%;
    height: 100%;
    overflow-y: hidden;
    -webkit-transition: margin-left 0.4s;
    transition: margin-left 0.4s;
}

.slider__slide {
    display: block;
    float: left;
    position: relative;
    width: 20%;
    height: 100%;
    background: no-repeat 50% 50%;
    background-size: cover;
}

.slider__slide img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.slider__radiobox-label {
    display: block;
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

.slider__radiobox-label--item {
    bottom: 6%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 6px;
    border-radius: 50%;
    background: white;
    opacity: 0.3;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.slider__radiobox-label--item:hover {
    opacity: 0.5;
}

.slider__radiobox-label--item--1 {
    margin-left: -24px;
}

.slider__radiobox-label--item--2 {
    margin-left: -9px;
}

.slider__radiobox-label--item--3 {
    margin-left: 6px;
}

.slider__radiobox-label--item--4 {
    margin-left: 21px;
}

.slider__radiobox-label--item--5 {
    margin-left: 36px;
}

.slider__radiobox-label--prev,
.slider__radiobox-label--next {
    display: none;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 0;
    border: 10px solid white;
    border-top-color: transparent;
    border-bottom-color: transparent;
    opacity: 0;
    -webkit-transition: left 0.2s, right 0.2s, opacity 0.2s;
    transition: left 0.2s, right 0.2s, opacity 0.2s;
}

.slider__radiobox-label--prev {
    left: -6%;
    border-left: 0;
    border-right-width: 17px;
}

.slider__radiobox-label--next {
    right: -6%;
    border-right: 0;
    border-left-width: 17px;
}

.slider__radiobox {
    display: none;
}

.slider__radiobox--1:checked ~ .slider__slides {
    margin-left: 0;
}

.slider__radiobox--2:checked ~ .slider__slides {
    margin-left: -100%;
}

.slider__radiobox--3:checked ~ .slider__slides {
    margin-left: -200%;
}

.slider__radiobox--4:checked ~ .slider__slides {
    margin-left: -300%;
}

.slider__radiobox--5:checked ~ .slider__slides {
    margin-left: -400%;
}

.slider__radiobox--1:checked + .slider__radiobox-label--item--1,
.slider__radiobox--2:checked + .slider__radiobox-label--item--2,
.slider__radiobox--3:checked + .slider__radiobox-label--item--3,
.slider__radiobox--4:checked + .slider__radiobox-label--item--4,
.slider__radiobox--5:checked + .slider__radiobox-label--item--5 {
    opacity: 1;
}

.slider__radiobox--1:checked ~ .slider__radiobox-label--prev--5,
.slider__radiobox--1:checked ~ .slider__radiobox-label--next--2,
.slider__radiobox--2:checked ~ .slider__radiobox-label--prev--1,
.slider__radiobox--2:checked ~ .slider__radiobox-label--next--3,
.slider__radiobox--3:checked ~ .slider__radiobox-label--prev--2,
.slider__radiobox--3:checked ~ .slider__radiobox-label--next--4,
.slider__radiobox--4:checked ~ .slider__radiobox-label--prev--3,
.slider__radiobox--4:checked ~ .slider__radiobox-label--next--5,
.slider__radiobox--5:checked ~ .slider__radiobox-label--prev--4,
.slider__radiobox--5:checked ~ .slider__radiobox-label--next--1 {
    display: block;
}

.slider:hover .slider__radiobox-label--prev,
.slider:hover .slider__radiobox-label--next {
    opacity: 1;
}

.slider:hover .slider__radiobox-label--prev {
    left: 6%;
}

.slider:hover .slider__radiobox-label--next {
    right: 6%;
}

.slider__slide--1,
.slider__slide--2,
.slider__slide--3,
.slider__slide--4,
.slider__slide--5 {
    h2 {
        text-align: center;
        color: white;
        .font-size(18);
    }
    section {
        background-color: rgba(0, 0, 0, .5);
        width: 83%;
        padding: 3px;
        z-index: 3;
        position: relative;
        max-width: 300px;
        img {
            width: 34px;
            display: inline-block;
            border-radius: 50%;
            margin: .5em .5em .5em 2em;
        }
        div {
            display: inline-block;
            width: 70%;
            vertical-align: top;
            h3 {
                display: block;
                color: white;
                text-transform: uppercase;
                .font-size(14);
                font-style: italic;
                font-weight: 400;
                margin: 0;
                vertical-align: top;
            }
            p {
                display: block;
                .font-size(11);
                font-style: italic;
                font-weight: 400;
                margin: 0;
                vertical-align: top;
                color: white;
            }
        }
    }
    &::before {
        content: "";
        background: black;
        background-blend-mode: multiply;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        .opacity(.3);
    }
}

.slider__slide--1 {
    background: url(../images/momento1.jpg);
    background-size: cover;
    z-index: 0;
}

.slider__slide--2 {
    background: url(../images/momento2.jpg);
    background-size: cover;
    z-index: 0;
}

.slider__slide--3 {
    background: url(../images/momento3.jpg);
    background-size: cover;
    z-index: 0;
}

.slider__slide--4 {
    background: url(../images/momento4.jpg);
    background-size: cover;
    z-index: 0;
}

.slider__slide--5 {
    background: url(../images/momento5.jpg);
    background-size: cover;
    z-index: 0;
}

#videoNew {
    h1 {
        font-weight: @light;
        .font-size(36);
        text-align: center;
        margin: 3rem 0 1.5rem;
        color: #8f71d1;
    }
}