/* !Media Querys */
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700');
html {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #494552;
  font-size: 16px;
}
body {
  margin: 0;
}
button {
  font-size: 20px;
  font-size: 1.25rem;
  color: white;
  padding: 20px 25px;
  background-color: #BB1645;
  text-align: center;
  border: 0;
  text-transform: uppercase;
  margin: 30px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background-color: #e51f58;
}
button:active {
  background-color: #8d1134;
}
.row {
  margin-right: 0;
  margin-left: 0;
}
@media only screen and (min-width: 48em) {
  header div:nth-child(2) {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
  }
}
#momentos .col-xs-12 {
  padding: 0;
}
@media only screen and (min-width: 48em) {
  #momentos {
    padding: 0 2em;
  }
  #momentos .col-sm-6 {
    padding: 0 4px;
  }
  #momentos .col-md-4 {
    padding-left: 4px;
  }
}
#momento1,
#momento2,
#momento3,
#momento4,
#momento5 {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: auto;
  color: white;
  margin-bottom: 8px;
  overflow: hidden;
}
#momento1::before,
#momento2::before,
#momento3::before,
#momento4::before,
#momento5::before {
  content: "";
  background: black;
  background-blend-mode: multiply;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  opacity: 0.3;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
  filter: alpha(opacity=30);
}
#momento1 .bkgcolor,
#momento2 .bkgcolor,
#momento3 .bkgcolor,
#momento4 .bkgcolor,
#momento5 .bkgcolor {
  background-color: #9d9cd8;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#momento1 .bkgimagen,
#momento2 .bkgimagen,
#momento3 .bkgimagen,
#momento4 .bkgimagen,
#momento5 .bkgimagen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  -o-object-fit: cover;
     object-fit: cover;
}
#momento1 h2,
#momento2 h2,
#momento3 h2,
#momento4 h2,
#momento5 h2 {
  margin-top: 2em;
  margin-bottom: .2em;
  text-align: center;
  width: 100%;
  z-index: 3;
  position: relative;
  text-transform: uppercase;
  font-size: 18px;
  font-size: 1.125rem;
}
#momento1 section,
#momento2 section,
#momento3 section,
#momento4 section,
#momento5 section {
  background-color: rgba(0, 0, 0, 0.5);
  width: 83%;
  padding: 3px;
  z-index: 3;
  position: relative;
  max-width: 300px;
}
@media only screen and (min-width: 62em) {
  #momento1 section,
  #momento2 section,
  #momento3 section,
  #momento4 section,
  #momento5 section {
    width: 92%;
  }
}
#momento1 section img,
#momento2 section img,
#momento3 section img,
#momento4 section img,
#momento5 section img {
  width: 34px;
  display: inline-block;
  border-radius: 50%;
  margin: .5em .5em .5em 2em;
}
#momento1 section div,
#momento2 section div,
#momento3 section div,
#momento4 section div,
#momento5 section div {
  display: inline-block;
  width: 70%;
  vertical-align: top;
}
#momento1 section div h3,
#momento2 section div h3,
#momento3 section div h3,
#momento4 section div h3,
#momento5 section div h3 {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 400;
  margin: 0;
  vertical-align: top;
}
#momento1 section div p,
#momento2 section div p,
#momento3 section div p,
#momento4 section div p,
#momento5 section div p {
  display: block;
  font-size: 11px;
  font-size: 0.6875rem;
  font-style: italic;
  font-weight: 400;
  margin: 0;
  vertical-align: top;
}
#momento1 section .indicador,
#momento2 section .indicador,
#momento3 section .indicador,
#momento4 section .indicador,
#momento5 section .indicador,
#momento1 section .indicador2,
#momento2 section .indicador2,
#momento3 section .indicador2,
#momento4 section .indicador2,
#momento5 section .indicador2 {
  position: absolute;
  z-index: 55;
  width: 160px;
  margin: 0;
  border-radius: 0;
  left: 4em;
  bottom: -40px;
}
#momento1 .bkgimagen {
  top: -140px;
  height: auto;
  width: 768px;
}
#momento2 section .indicador {
  width: 83px;
  left: 53px;
  bottom: -30px;
}
#momento2 .bkgimagen {
  top: -140px;
  height: auto;
  width: 768px;
}
#momento3 section .indicador {
  width: 65px;
  left: 235px;
  bottom: -15px;
}
#momento3 .bkgimagen {
  top: -40px;
  height: auto;
  width: 768px;
}
#momento4 section .indicador {
  width: 11px;
  left: 195px;
  bottom: -50px;
}
#momento4 .bkgimagen {
  top: -245px;
  height: auto;
  width: 768px;
}
#momento5 section .indicador2 {
  display: none;
}
@media only screen and (min-width: 62em) {
  #momento5 section .indicador2 {
    display: block;
    width: 136px;
    left: 50px;
    bottom: -180px;
  }
}
#momento5 section .indicador {
  width: 83px;
  left: 230px;
  bottom: -30px;
}
@media only screen and (min-width: 62em) {
  #momento5 section .indicador {
    display: none;
  }
}
#momento5 .bkgimagen {
  top: -320px;
  height: auto;
  width: 1205px;
  left: -290px;
}
@media only screen and (min-width: 62em) {
  #momento5 .bkgimagen {
    top: -169px;
    left: -425px;
  }
}
@media only screen and (min-width: 62em) {
  #momento5 {
    height: 408px;
  }
}
#bolitas {
  overflow: hidden;
}
#bolitas .box {
  position: relative;
  width: 300px;
  height: 70px;
  margin: 30px auto;
}
#bolitas .bolita1,
#bolitas .bolita2,
#bolitas .bolita3,
#bolitas .bolita4,
#bolitas .bolita5 {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
#bolitas .bolita1 {
  background: #a892da;
  /* Old browsers */
  background: -webkit-linear-gradient(left, #a892da 0%, #96a4d5 100%);
  background: linear-gradient(to right, #a892da 0%, #96a4d5 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a892da', endColorstr='#96a4d5',GradientType=1 );
  /* IE6-9 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a892da', endColorstr='#96a4d5',GradientType=1 );
  /* IE6-8 */
  top: 24px;
}
#bolitas .bolita2 {
  background: #99a0d5;
  /* Old browsers */
  background: -webkit-linear-gradient(left, #99a0d5 0%, #8ab2cf 100%);
  background: linear-gradient(to right, #99a0d5 0%, #8ab2cf 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99a0d5', endColorstr='#8ab2cf',GradientType=1 );
  /* IE6-9 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99a0d5', endColorstr='#8ab2cf',GradientType=1 );
  /* IE6-8 */
  top: 4px;
  left: 68px;
}
#bolitas .bolita3 {
  background: #6bc7c5;
  /* Old browsers */
  background: -webkit-linear-gradient(left, #6bc7c5 0%, #66b0c3 100%);
  background: linear-gradient(to right, #6bc7c5 0%, #66b0c3 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bc7c5', endColorstr='#66b0c3',GradientType=1 );
  /* IE6-9 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bc7c5', endColorstr='#66b0c3',GradientType=1 );
  /* IE6-8 */
  top: 34px;
  left: 132px;
}
#bolitas .bolita4 {
  background: #605aad;
  /* Old browsers */
  background: -webkit-linear-gradient(left, #605aad 0%, #7459a3 100%);
  background: linear-gradient(to right, #605aad 0%, #7459a3 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#605aad', endColorstr='#7459a3',GradientType=1 );
  /* IE6-9 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#605aad', endColorstr='#7459a3',GradientType=1 );
  /* IE6-8 */
  top: 14px;
  left: 202px;
}
#bolitas .bolita5 {
  background: #aa5683;
  /* Old browsers */
  background: -webkit-linear-gradient(left, #aa5683 0%, #c85473 100%);
  background: linear-gradient(to right, #aa5683 0%, #c85473 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa5683', endColorstr='#c85473',GradientType=1 );
  /* IE6-9 */
  -ms-filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa5683', endColorstr='#c85473',GradientType=1 );
  /* IE6-8 */
  top: 0;
  right: 0;
}
#qoute {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 300;
}
#qoute p::after {
  padding-bottom: 32px;
  content: "";
  display: block;
  width: 80%;
  margin: 0 auto 60px;
  border-bottom: 2px solid #3DC6B8;
}
#beneficios {
  font-size: 21px;
  font-size: 1.3125rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}
#beneficios img {
  margin-bottom: 30px;
  width: 100%;
  max-width: 105px;
}
#beneficios p.box {
  margin: 0 auto 30px;
}
#parrafos {
  font-size: 22px;
  font-size: 1.375rem;
  text-align: left;
}
#parrafos .col-xs-12:first-child::after {
  padding-bottom: 20px;
  content: "";
  display: block;
  width: 80%;
  margin: 0 auto 20px;
  border-bottom: 2px solid #3DC6B8;
}
@media only screen and (min-width: 48em) {
  #parrafos .col-xs-12:first-child::after {
    display: none;
  }
}
@media only screen and (min-width: 48em) {
  #parrafos .col-xs-12:first-child {
    border-right: 2px solid #3DC6B8;
  }
}
#video {
  margin: 3em 0;
}
#video .box {
  width: 100%;
  height: 34vh;
}
@media only screen and (min-width: 62em) {
  #video .box {
    height: 47vh;
  }
}
@media only screen and (min-width: 1400px) {
  #video .box {
    height: 64vh;
  }
}
#testimonios h2 {
  font-size: 32px;
  font-size: 2rem;
  text-align: center;
  color: #8f71d1;
  font-weight: 300;
  font-style: italic;
  line-height: 1.5em;
}
#testimonios img {
  width: 77px;
  border-radius: 50%;
  margin-top: 1em;
}
#testimonios h3 {
  text-transform: uppercase;
  margin: 0.4em 0;
}
#testimonios p {
  font-style: italic;
  margin-top: 0;
}
#cta2 {
  margin-top: 2em;
}
@media only screen and (min-width: 48em) {
  #cta2 {
    background-color: #e6e6e6;
    padding: 22px 0;
  }
}
#cta2 img {
  display: none;
}
@media only screen and (min-width: 48em) {
  #cta2 img {
    display: block;
  }
}
#cta2 p {
  color: #8f71d1;
  text-transform: uppercase;
  font-size: 20px;
  font-size: 1.25rem;
}
@media only screen and (min-width: 48em) {
  #cta2 button {
    margin: 0 auto;
    font-size: 16px;
    font-size: 1rem;
  }
}
footer {
  background: #2e194a;
  padding: 23px 0;
  margin-bottom: -20px;
}
footer p {
  color: white;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
}
@media only screen and (min-width: 48em) {
  footer .sm {
    width: 32px;
  }
}
@media only screen and (min-width: 1140px) {
  footer .sm {
    width: 44px;
  }
}
footer .logo {
  width: 100%;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
  filter: alpha(opacity=50);
  max-width: 125px;
}
footer .logo[alt="Momentos en línea"] {
  width: 80%;
}
@media only screen and (min-width: 48em) {
  footer .logo {
    max-width: 155px;
  }
  footer .logo[alt="Momentos en línea"] {
    width: 75%;
  }
}
@media only screen and (min-width: 1140px) {
  footer .logo {
    max-width: 180px;
  }
  footer .logo[alt="Momentos en línea"] {
    width: 50%;
  }
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 30px;
  background: #BB1645;
  color: white;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(230, 230, 230, 0.85);
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.modal {
  position: fixed;
  top: 48%;
  left: 67%;
  width: 90%;
  max-width: 400px;
  margin-left: -200px;
  margin-top: -220px;
  background: white;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  -webkit-transform: translateY(45px);
          transform: translateY(45px);
}
@media only screen and (min-width: 48em) {
  .modal {
    top: 40%;
    left: 50%;
  }
}
.active {
  visibility: visible;
  opacity: 1;
}
.active + .modal {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
form fieldset {
  border: 0;
}
form input,
form select {
  width: 90%;
  margin: .5em auto;
  display: block;
  background: white;
  border: 1px solid #b3b3b3;
  padding: 6px;
  color: #b3b3b3;
  height: 1.6em;
  font-size: 21px;
  font-size: 1.3125rem;
}
form input:focus {
  color: black;
}
form input#nombre-3 {
  margin-top: 2em;
  margin-bottom: .5em!important;
}
form select {
  width: 94%;
  height: 2.1em;
}
form button {
  margin: 1em auto;
  font-size: 16px;
  font-size: 1rem;
  padding: 15px;
}
#gracias {
  background: url(../images/imagen-gracias-momentos.jpg);
  background-size: cover;
  padding: 110px 1em;
}
#gracias h2,
#gracias h3 {
  text-align: center;
  color: white;
}
#gracias h2 {
  text-transform: uppercase;
  font-size: 32px;
  font-size: 2rem;
  font-weight: 400;
}
#gracias h2::after {
  padding-bottom: 32px;
  content: "";
  display: block;
  width: 80%;
  margin: 0 auto 60px;
  border-bottom: 2px solid #3DC6B8;
  border-bottom: 2px solid white;
  max-width: 640px;
}
#gracias h3 {
  font-size: 32px;
  font-size: 2rem;
  font-weight: 300;
}
